header {
  display: flex;
  height: 400px;
  width: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logged-in-user-avatar {
  height: 150px;
  width: auto;
}

.logged-in-user-name {
  font-size: 32px;
}