/* entire nav bar */
nav {
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: #4273a3; 
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding: 0.5em 1.5em;
  font-family: 'Bungee', cursive;
  position: fixed;
  top: 0;
}

/* left nav bar for logo */
.nav-left {
  display: flex;
  align-items: flex-end;
}

/* right nav bar for writing new tweet */
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* tweeter logo */
#logo {
  color: #FFFFFF;
  margin: 1.5em;
}

/* "write a new tweet" */
.new-tweet-prompt {
  display: flex;
  color: #FFFFFF;
  margin: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: end;
}

/* arrow icon */
.fa-angle-double-down {
  color: #dede21;
}
