/* styles for the whole new tweet sections */
.create-new-tweet {
  display: flex;
  align-content: center;
  width: 100%;
  flex-direction: column;
}

/* Tweet Button */
.tweet-button {
  font-family: 'Bungee', cursive;
  background-color: #4273a3; 
  color: #FFFFFF;
}

/* char counter */
.counter {
  font-family: 'Bungee', cursive;
  color: white;
}

/* what are you humming about*/
.tweet-prompt {
  font-family: 'Source Sans Pro', sans-serif;
}

.new-tweet-form {
  padding: 15px;
  border: 2px solid white;
}

.new-tweet-form:hover {
  box-shadow: 8px 8px #dede21;
}

.inner-container {
  margin: 0 5em;
}

.inner-container form {
  display: flex;
  flex-direction: column;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  border: 0;
  border-bottom: 2px solid black;
  margin: 20px 0;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
}

::placeholder {
  color: #FFFFFF;
  font-weight: bold;
}

.warningText {
  color: red;
}