/* for all screens smaller than 750px */
@media screen and (max-width: 750px) {
  .all-tweets-border {
    margin: 0 35px;
    margin-bottom: 30px;
  }
  #new-tweet-container {
    margin: 0 35px;
  }
}

/* for screens bigger than 1024 / desktop */
/* starts from 1024, up to anything 
less specific, takes less precedence
*/
@media screen and (min-width: 1024px) {
  .tweet-container {
    margin-top: 150px;
  }
  #current-user-header {
    margin: 0 5em;
    width: 33%;
    height: 35em;
  }
  .content-container {
    flex-direction: row;
  }
}