.all-tweets {
  /* height: 150px; */
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 30px;
  width: 100%;
}

.all-tweets-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 2px solid black;

}

.all-tweets-border {
  border: 2px solid white;
}

article {
  width: 100%;
  margin: 0;
  padding: 0 5em;
}


#astronaut-avatar {
  height: 120px;
  width: auto;
}

#icon1:hover{
  color: yellow;
}

#icon2:hover{
  color: yellow;
}

#icon3:hover{
  color: yellow;
}