/* main container for all tweets */
.all-tweets {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}

.all-tweets-border {
  border: 2px solid white;
  width: 100%;
  margin: 0 5em;
          /* left and right margin of 5em */
          /* matches new-tweet-container in new-tweet.css */
  padding: 15px;
          /* padding of 15px on all sides */
          /* matches new-tweet-form in new-tweet.css */
  margin-bottom: 30px;
}

/* contains avatar, username, and handle */
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* contains avatar and username */
.tweet-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* user's avatar */
#astronaut-avatar {
  height: 80px;
  width: auto;
}

/* user's name */
.user-name {
  margin-left: 1em;
}

.tweet-body {
  color: white;
  font-weight: bold;
}

/* footer contains time ago and icons */
.all-tweets-footer {
  display: flex;
  justify-content: space-between;
}

.time-ago {
  font-weight: bold;
  font-size: 20px;
}

.all-tweets-border:hover {
  box-shadow: 8px 8px #dede21;
}

#icon1:hover{
  color: #dede21;
}

#icon2:hover{
  color: #dede21;
}

#icon3:hover{
  color: #dede21;
}